* {
	font-family: serif;
}
body {
	margin: 0;
	padding: 0;	
}
header {
	width: 100vw;
	background: linear-gradient(180deg, #f85 25%, #e64 100%);
	display: flex;
	align-items: center;
}
header * {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
.chunk {
	margin: 10px;
	outline: 5px #ccc solid;
	background: linear-gradient(180deg, #fff 0, #eee 50px);
	border-radius: 5px;
}
