* {
	font-family: serif;
}
body {
	margin: 0;
	padding: 0;	
}
header {
	width: 100vw;
	background-color: #f85;
	display: flex;
	align-items: center;
}
header * {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
main {
	padding: 10px;
}
